.idea/
.cache/
__pycache__
.env
*.pyc
*.pyo
*.py~
*.db
covhtml/
logs/*
.coverage
nosetests.xml
coverage.xml
.DS_Store
.sass-cache


venv/
.tern*

npm-debug.log
*_tests
package-lock.json
bundles
db.sqlite3
*.pyd
.Python
env
.tox
.coverage.*
.cache
*,cover
*.log
*.pdf
notebooks/.ipynb_checkpoints
redis-data
redis.conf
*.pdf

